.main-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.courses-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courses-list {
    list-style: none;
    width: 100%;
    padding: 0;
}

.courses-list li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3a6d9c;
    padding: 10px;
    color: white;
}

.courses-list li p {
    margin: 0;
}

.image-placeholder {
    width: 60px;
    height: 60px;
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: black;
}

.course-item {
    cursor: pointer;
}