body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    margin-bottom: 50px;
}

.circle {
    width: 60px;
    height: 60px;
    background-color: #c36eeb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
}

.top_bar {
    margin-inline: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    display: flex;
}

.top_bar li {
    margin: auto;
    text-align: center;
}

.top_bar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5rem;
}

header {
    background-color: #1879d4;
    color: #fff;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 40px;
    padding: 30px;
    margin: 0;
    color: white;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 30px;
    display: flex;
}

.nav-subjects {
    list-style: none;
    padding: 15px;
    margin: 0;
    display: flex;
    background-color: #3a6d9c;
}

.nav-subjects li {
    margin-right: 30px;
}

.nav-subjects a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.nav-links li {
    margin-right: 30px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
}

.members {
    flex-shrink: 0;
    padding-right: 20px;
    text-align: center;
}

.members .member {
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 10px;
}

.project-summary {
    border: 1px solid #333;
    flex: 1;
    padding: 0 20px;
    margin-right: 20px;
}

.contact-us {
    border: 1px solid #333;
    flex-shrink: 0;
    width: 400px;
    padding-left: 20px;
}

.project-summary h2,
.contact-us h2 {
    text-align: center;
}

footer {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #1879d4;
    padding-inline: 40px;
    padding-block: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .copyright {
    color: #fff;
}

footer .contact {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

